body {
	text-align: center;
	background-color: red;
}
h1 {
	background-color: yellow;
	font-size: 40px;
}
h3 {
	background-color: blue;
	font-size: 30px;
}
h4 {
	background-color: green;
	font-size: 25px;
}
a {
	background-color: white;
}

